.specxgrid{width: 100%; background: #fff; padding:10px ;}
.specxgrid img{background: #f1f1f1 ; width: 164px; height: 164px; object-fit: cover;}
.launchdata{width: 100%; padding: 10px 0;}
.launchdata h1{font-size: 13px; color: #000; font-weight: bold;}
.missionidbx{width: 100%; margin-bottom: 7px;}
.missionidbx h2{font-size: 13px;}  
.informationbx{width: 100%; display: flex;}
.informationbx p{margin: 0; font-size: 13px;}
.heading{font-size: 20px;}
.filterbox{background: #fff;}
.filterbox h2{font-size: 14px; color: #000; padding: 10px; margin-bottom: 0;}
.launch-Year{width: 100%;}
.launchyrbtnbxx{width: 100%; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; padding:0 30px ;}
.launchyrbtnbxx button{  background: #d3ffd3; color: #000; border-radius: 5px;  outline: none; border: none; font-size: 13px; height: 30px; line-height: 30px;  margin-bottom: 10px; width: 48%;}
.launchyrbtnbxx button:hover,
.launchyrbtnbxx button:active,
.launchyrbtnbxx button:focus,
.launchyrbtnbxx button:focus-within
{  background: #51bb51; color: #000; border-radius: 5px;  outline: none; border: none; font-size: 13px; height: 30px; line-height: 30px;  margin-bottom: 10px; width: 48%;}
.missionidbx ul{
    padding-inline-start: 20px;
}
@media only screen and (min-width:320px) and (max-width:1024px){
    .specxgrid img{background: #f1f1f1 ; width: 100%; height: auto; object-fit: cover;}
    .launchdata h1{font-size: 16px; color: #000; font-weight: bold;}
    .missionidbx h2{font-size: 16px;}  
    .informationbx p{margin: 0; font-size: 16px;}
    .filterbox h2{font-size: 17px; color: #000; padding: 10px; margin-bottom: 0;}
}