<div class="container">
    <div class="row my-5 bg-light py-3">
        <div class="col-md-12">
            <h1 class="heading">SpaceX Launch Programs</h1>
        </div>
        <div class="col-md-3">
            <div class="filterbox sticky-top">
                <h2>FIlter</h2>   
                
                <div class="launch-Year">
                    <h2 class="text-center">Launch  Year</h2>
                    <hr class="mx-5 my-0 mb-2">
                    <div class="launchyrbtnbxx">
                        <button routerLink="/home" [queryParams]="{launch_year:2006}" queryParamsHandling="merge">2006</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2007}" queryParamsHandling="merge">2007</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2008}" queryParamsHandling="merge">2008</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2009}" queryParamsHandling="merge">2009</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2010}" queryParamsHandling="merge">2010</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2011}" queryParamsHandling="merge">2011</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2012}" queryParamsHandling="merge">2012</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2013}" queryParamsHandling="merge">2013</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2014}"queryParamsHandling="merge">2014</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2015}"queryParamsHandling="merge">2015</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2016}"queryParamsHandling="merge">2016</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2017}"queryParamsHandling="merge">2017</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2018}"queryParamsHandling="merge">2018</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2019}"queryParamsHandling="merge">2019</button>
                        <button routerLink="/home" [queryParams]="{launch_year:2020}"queryParamsHandling="merge">2020</button>
                    </div>
                </div>
                <div class="launch-Year">
                    <h2 class="text-center">Successful Launch </h2>
                    <hr class="mx-5 my-0 mb-2">
                    <div class="launchyrbtnbxx">
                        <button routerLink="/home" [queryParams]="{launchSuccess:true}" queryParamsHandling="merge">True</button>
                        <button routerLink="/home" [queryParams]="{launchSuccess:false}" queryParamsHandling="merge">False</button>
                    </div>
                </div>
                <div class="launch-Year">
                    <h2 class="text-center">Successful Landing </h2>
                    <hr class="mx-5 my-0 mb-2">
                    <div class="launchyrbtnbxx">
                        <button routerLink="/home"[queryParams]="{land_success:true}" queryParamsHandling="merge">True</button>
                        <button routerLink="/home" [queryParams]="{land_success:false}"queryParamsHandling="merge">False</button>
                    </div>
                    <div class="launchyrbtnbxx text-center">
                        <button class="mx-auto" routerLink="/home">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="row" >
                <div class="col-md-3  col-sm-6 col-lg-6 col-xl-3" *ngFor="let specx of spesX | slice:0:100">
                    <div class="specxgrid">
                        <img src="{{ specx.links.mission_patch_small }}" alt="" class="img-fluid">
                        <div class="launchdata">
                            <h1>{{ specx.mission_name }} #{{ specx.flight_number }}</h1>
                            <div class="missionidbx" >
                                <h2>Mission Ids</h2>
                                <ul>
                                    <li>{{ specx.mission_id }}</li>
                                </ul> 
                            </div>
                            <div class="informationbx">
                                <p class="mr-2"><strong>Launch Year :</strong></p> <p>{{ specx.launch_year }}</p>
                            </div>
                            <div class="informationbx">
                                <p class="mr-2"><strong>Successful Launch :</strong></p> <p>{{specx.launch_success}}</p>
                            </div>
                            <div class="informationbx">
                                <p class="mr-2"><strong>Successful Landing :</strong></p> <p>{{specx.rocket.first_stage.cores[0].land_success}}</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 text-left">
        <p class="text-left">Design & Developed by: Sanket</p>
    </div>
</div>

</div>